{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/npm",
        "@semantic-release/github"
    ],
    "verifyConditions": [
        "@semantic-release/github"
    ],
    "prepare": [
        {
            "path": "@semantic-release/exec",
            "cmd": "python setup.py sdist bdist_wheel"
        }
    ],
    "publish": [
        {
            "path": "@semantic-release/exec",
            "cmd": "twine upload dist/*"
        }
    ],
    "success": [
        "@semantic-release/github"
    ]
}
